*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

nav{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav img{
    height: 100px;
}
.navc{
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav button{
    padding: 10px 15px;
    border: 1px solid black;
    color: white;
    background-color: rgb(34, 34, 34);
    font-size: 15px;
    border-radius: 10px;
}

.top h1{
    font-size: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.buts{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buts a{
    text-decoration: none;
    color: white;
    background: #1b1b1b;
    padding: 15px 20px;
    border-radius: 50px;
}
.buts a:nth-child(1){
    text-decoration: none;
    color: white;
    background: #ff7700;
    padding: 15px 20px;
    border-radius: 50px;
}
.boxes{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 25%;
    height: 500px;
    border-radius: 20px;
    background: #1f1f1f;
}
.box img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.box h5{
    display: inline;
    color: rgb(255, 111, 0);
    background-color: #8b3100f5;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 15px;
}

.box h3{
    width: 80%;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 25px;
    font-weight: 600;

}

.box p{
    color: #6a6a6a;
    margin-top: 30px;
    margin-left: 15px;
}
